mat-grid-tile {
    background: white;
  }
  .product-wrapper{
    display: inline-block;
    float: left;
    width: 45%;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin:10px;
  }
.product-category{
  margin-bottom: 20px;
    font-size: 10px;
    color: white;
}
.product-desc{
  font-size: 8px;
    line-height: 13px;
    margin-bottom: 30px;
    min-height: 80px;
}
.product-title{
  margin-bottom: 5px;
}
.discount-price{
  padding-right: 5px;
  color: cornflowerblue;
  font-weight: 400;
}
.actual-price{
  font-size: 10px;
  color: gray;
}
.zoom {
    padding: 50px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.image-wrapper{
    float: left;
    width: 30%;
}
.imagecategory{
    background-color: cornflowerblue;
    margin-right: 50px;
    border-radius: 5px;
    padding:5px;
    border-radius: 10px;
    padding:5px 25px;
    margin-bottom: 10px;
}
.producttext{
color:cornflowerblue;
}
.content-wrapper{
  float: right;
    width: 60%;
}
.container {
    position: relative;
    width: 50%;
  }

  .example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .rating-star {
    color: cornflowerblue;
    width:auto
  }
  
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  
  .container:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .cont {
    width: 93%;
    max-width: 350px;
    text-align: center;
    margin: 4% auto;
    padding: 30px 0;
    background:white;
    color: #EEE;
    overflow: hidden;
  }
  
  div.stars {
    width: 250px;
    display: inline-block;
  }
  .productlist{
    font: 600 14px/20px Roboto,"Helvetica Neue", sans-serif;
    letter-spacing: normal;
    font-style: revert;
  }
  